---
import BtnToggleLang from "./BtnToggleLang.jsx";
import BtnToggleTheme from "./BtnToggleTheme.jsx";
import { fetchLang } from "../utils";

const { lang = "en" } = Astro.props;

const data = await fetchLang(lang);
---

<div
  class="grid w-full max-w-[1080px] h-full md:h-[720px]
  p-2
  gap-2
  lg:gap-4
  grid-cols-2 grid-rows-8
  sm:grid-cols-2 sm:grid-rows-8
  md:grid-cols-3 md:grid-rows-5
  lg:grid-cols-4 lg:grid-rows-4
  bg-medias"
>
  <!-- Caja 1 -->
  <section class="box-card col-span-1 row-span-2 order-1">Caja 1</section>

  <!-- Caja 2 -->
  <section class="box-card col-span-1 row-span-1 order-2">
    Caja 2
  </section>

  <!-- Caja 3 -->
  <section class="box-card col-span-1 row-span-1 order-3">Caja 3</section>

  <!-- Caja 4 -->
  <section class="box-card col-span-2 row-span-2 order-4">
    <div class="flex flex-col h-full w-full">
      <h1 class="text-6xl">
        {data?.home.box_4.title}
      </h1>
      <div class="pl-1">
        <p class="text-xl my-6">{data?.home.box_4.subtitle}</p>
        <p class="text-xl">{data?.home.box_4.description_1}</p>
        <p class="text-xl">{data?.home.box_4.description_3}</p>
      </div>
    </div>
  </section>

  <!-- Caja 5 -->
  <section
    class="box-card col-span-2 row-span-1 order-5
    md:col-span-1 md:row-span-1 lg:order-3"
  >
    Caja 5
  </section>

  <!-- Caja 6 -->
  <section
    class="box-card col-span-2 row-span-1 order-6
    md:col-span-1 md:row-span-1"
  >
    <div class="flex flex-col justify-center h-full w-full gap-4">
      <div class="flex items-center justify-center sm:justify-between">
        <p class="hidden sm:flex text-xl">{data?.home.box_6.title}</p>
        <BtnToggleLang client:only languaje={lang} text={data} />
      </div>
      <div class="flex items-center justify-center sm:justify-between">
        <p class="hidden sm:flex text-xl">{data?.home.box_6.title_2}</p>
        <BtnToggleTheme client:only textTheme={data?.theme} />
      </div>
    </div>
  </section>

  <!-- Caja 7 -->
  <section class="box-card col-span-1 row-span-2 order-7">Caja 7</section>

  <!-- Caja 8 -->
  <section
    class="box-card col-span-1 row-span-1 order-8
    md:col-span-1 md:row-span-2 lg:col-span-2 lg:row-span-1"
  >
    <div class="flex flex-col justify-center h-full w-full gap-4">
      <p class="text-4xl">{data?.home.box_8.title}</p>
      <p class="text-xl">
        {
          data?.home.box_8.options.map((element) => (
            <span>{element.value} </span>
          ))
        }
      </p>
    </div>
  </section>

  <!-- Caja 9 -->
  <section
    class="box-card col-span-1 row-span-1 order-9
    lg:col-span-1 lg:row-span-2 lg:order-7"
  >
    Caja 9
  </section>
</div>
<style>
  .box-card {
    @apply p-6
    rounded-xl
    shadow-xl
    border
    bg-[#7027a16b];
  }

  .bg-medias {
    @apply bg-violet-300
  sm:bg-red-500
  md:bg-green-500
  lg:bg-teal-400
  xl:bg-orange-500
  2xl:bg-yellow-500
  !bg-transparent;
  }
</style>
